.product-main-title{
    font-family: 'Source Serif Pro', serif;
    color: #252627;
    font-size: 40px;
    word-break:break-all;
}

.product-card{
    margin-top: 50px;
}

.product-card-img{

}

.product-card-description{

}