.sidebar {
    width: 10px;
}

.sidebar-logo {
    margin: 0 auto;
    padding: 0 auto;
}

.sidebar-item {
    transition: all 0.5s ease 0s;
    list-style-type: none;
}

.sidebar-text {
    cursor: pointer;
    color: #252627;
    text-decoration: none;
}

/* .hide::after{
    content: '▷';
}

.show::after{
    content:'▼';
} */