@font-face {
    font-family: 'Source Serif Pro', serif;
    src: url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap');
}
@font-face {
    font-family: 'Tenor Sans', sans-serif;;
    src: url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
}
:root{
    --color1: #4A3930;
    --color2: #AEC5EB;
}

.upper-navbar{
    color: var(--color1);
    
    font-family: 'Source Serif Pro', serif;
    /* font-size: 15px; */
}

.location{
    font-size: 13px;
}

.check_box{
    /* border: solid 1px;
    border-color: rgb(61, 61, 61);
    background-color: #eee; */
    
    
}

.navbar_settings, footer{
    background-color: #F8F9FA;
    
}