@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap'); 

:root{
    --color1: #4A3930;
    --color2: #AEC5EB;
}

.color1{
    color: var(--color1); 
}

.upper-navbar{
    color: var(--color1);
    
    font-family: 'Source Serif Pro', serif;
    /* font-size: 15px; */
}

.location{
    font-size: 13px;
}

main{
    padding-top: 14px;
}

main .row{
    padding-top: 14px;
}

.categories_name{
    font-family: 'Source Serif Pro', serif;
    color: var(--color1);
}

.product{
    background-color: #F8F9FA;
    border: solid 2px var(--color2);
    border-radius: 20px;
    height: 323px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease 0s;
    padding-left: 11px;
    padding-right: 11px;
    font-family: 'Source Serif Pro', serif;
}
.product:hover {
	box-shadow: 0 0 9px var(--color2);
}

.product-img img{
    max-height: 219px;
    height: auto;
    border-radius: 20px;
    
    margin-top: 10px;
}

.product-title{
    margin-top: 4px;
}

.product-title a{
    
    color: #252627;
    font-weight: 550;
    text-decoration:none;
}

.product-price{
    display: flex;
    justify-content: space-between;
}

.product-price a{
    text-decoration:underline;
    color: var(--color1);
}
.product-price a:hover{
    color:crimson;
}

.product-favorite-circle{
    border-radius: 50%;
    border: solid 2px #AEC5EB;
    height: 35px;
    width: 35px;
    text-align: center;
    vertical-align: middle;
    
}

.product-favorite-circle:hover{
    box-shadow: 0 0 7px crimson;
    color: crimson;
    transition: all 0.5s ease 0s;
    border-color: crimson;
}

.product-favorite-circle i{
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

.product-publication a{
    text-decoration:none;
    font-size: 14px;
    font-weight: 400;
    color: var(--color1);

}

footer{
    background-color: #F8F9FA;
    
}

/* border for test */
.check_box{
    /* border: solid 1px;
    border-color: rgb(61, 61, 61);
    background-color: #eee; */
    
    
}