@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,400;1,500&display=swap');
:root {
    --color1: #4A3930;
    --color2: #AEC5EB;
}

.color1 {
    color: var(--color1);
}

.upper-navbar {
    color: var(--color1);
    font-family: 'Source Serif Pro', serif;
    /* font-size: 15px; */
}

@media(max-width: 993px) {
    /* .upper-navbar-text{
        display: none;
    } */
    .container {
        margin: 0 auto;
        max-width: 950px;
    }
}

@media(max-width: 857px) {
    .upper-navbar-text {
        display: none;
    }
    .container {
        margin: 0 auto;
        max-width: 857px;
    }
}

.location {
    font-size: 13px;
}

.navbar-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-border {
    box-shadow: 0 5px 5px -5px #d4d4d4;
}

.navbar-categories {
    width: 120px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categories-btn {
    display: flex;
    color: #252627;
    border: 1px solid #252627;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    height: 38px;
    width: 100%;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.categories-btn:hover {
    background-color: #252627;
    color: #F8F9FA;
    box-shadow: 0 0 15px #252627;
}

.categories-btn span {
    margin: 0 auto;
    padding: 0 auto;
}

.inner-categories {
    background-color: #f8f9fa;
    border: none;
    border-radius: 0px;
    box-shadow: 5px 0 5px -5px #d4d4d4, 0 5px 5px -5px #d4d4d4, -5px 0 5px -5px #d4d4d4;
    width: 100%;
    margin: 0;
    padding: 0;
}

.categories-text {
    list-style-type: none;
    text-decoration: none;
    color: #252627;
    padding: 0;
}

.input-field {
    display: flex;
    width: 53%;
    align-items: center;
}

.navbar-buttons {
    width: 15%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100px;
}

.navbar-icons {
    margin: 0 auto;
}

.navbar-circle {
    display: flex;
    position: absolute;
    border-radius: 50%;
    border: solid 1px var(--color1);
    height: 42px;
    width: 42px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin-right: 20px;
    color: var(--color1);
    cursor: pointer;
    transition: 0.15s linear;
    top: 30%;
}

.navbar-ad {
    left: 0%;
}

.navbar-profile {
    right: 30%;
}

.hidden-text-ad {
    font-size: small;
    /* font-family: 'Montserrat', sans-serif; */
    color: white;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 1200px) {
    .navbar-profile {
        right: 0%;
    }
}

main {
    padding-top: 14px;
}

main .row {
    padding-top: 14px;
}

.categories_name {
    font-family: 'Source Serif Pro', serif;
    color: var(--color1);
}

.product {
    background-color: #F8F9FA;
    border: solid 2px var(--color2);
    border-radius: 20px;
    height: 323px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease 0s;
    padding-left: 11px;
    padding-right: 11px;
    font-family: 'Source Serif Pro', serif;
}

.product:hover {
    box-shadow: 0 0 9px var(--color2);
}

.product-img img {
    max-height: 219px;
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
}

.product-title {
    margin-top: 4px;
}

.product-title a {
    color: #252627;
    font-weight: 550;
    text-decoration: none;
}

.product-price {
    display: flex;
    justify-content: space-between;
}

.product-price a {
    text-decoration: underline;
    color: var(--color1);
}

.product-price a:hover {
    color: crimson;
}

.product-favorite-circle {
    border-radius: 50%;
    border: solid 2px #AEC5EB;
    height: 35px;
    width: 35px;
    text-align: center;
    vertical-align: middle;
}

.product-favorite-circle:hover {
    box-shadow: 0 0 7px crimson;
    color: crimson;
    transition: all 0.5s ease 0s;
    border-color: crimson;
}

.product-favorite-circle i {
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

.product-publication a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--color1);
}

footer {
    background-color: #F8F9FA;
    margin-top: 40px;
    width: 100%;
    height: 140px;
    padding-top: 25px;
}

.footer-copy-right {
    color: #252627;
    padding-top: 4%;
}

.footer-contacts {
    color: #252627;
}

.footer-contacts-content {
    margin: 0;
}


/* border for test */

.check_box {
    /* border: solid 1px;
    border-color: rgb(61, 61, 61);
    background-color: #eee;
     */
}